{% extends "layout/base.html" %}


{% block title %}
{{ photo.title }} - Alzikrayat
{% endblock %}


{% block content %}

<a href="/photos">
    Back to Photos
</a>


<article>

    <img
        src="{{ url_for(
            'static',
            filename='uploads/' ~ photo.file_name
        ) }}"
        alt="{{ photo.title }}"
        width="600"
    >
    <div>

    {% if session.get("userId") %}

        <form
            action="/photo/{{ photo.id }}/like"
            method="POST"
        >

            <button type="submit">

                {% if likedByCurrentUser %}
                    ♥ Unlike
                {% else %}
                    ♡ Like
                {% endif %}

            </button>

        </form>

    {% endif %}


    <span>
        {{ likeCount }}

        {% if likeCount == 1 %}
            like
        {% else %}
            likes
        {% endif %}
    </span>

</div>


    <h1>
        {{ photo.title }}
    </h1>


    <p>
        Uploaded by
        {{ photo.first_name }}
        {{ photo.last_name }}
    </p>


    <time
        datetime="{{ photo.date_time }}"
        title="{{ photo.date_time }}"
    >
        {{ photo.date_time | timeAgo }}
    </time>


    {% if photo.description %}

        <p>
            {{ photo.description }}
        </p>

    {% endif %}


    {% if
        session.get("userId")
        == photo.user_id
    %}

        <form
            action="/photo/{{ photo.id }}/delete"
            method="POST"
        >

            <button type="submit">
                Delete Photo
            </button>

        </form>

    {% endif %}

</article>

{% if taggedUsers %}

    <div>

        <strong>
            Tagged People:
        </strong>

        {% for user in taggedUsers %}

            <span>
                {{ user.first_name }}
                {{ user.last_name }}
            </span>

        {% endfor %}

    </div>

{% endif %}


<section id="comments">

    <h2>
        Comments
    </h2>

    {% if session.get("userId") %}

        <form
            class="commentForm"
            action="/photo/{{ photo.id }}/comment"
            method="POST"
        >

            <textarea
                name="comment"
                maxlength="1000"
                placeholder="Write a comment..."
                required
            ></textarea>

            {% if commentErrors.get("comment") %}

                <p>
                    {{ commentErrors.get("comment") }}
                </p>

            {% endif %}

            <button type="submit">
                Post Comment
            </button>

        </form>

    {% else %}

        <p>
            <a href="/login">
                Login
            </a>
            to write a comment.
        </p>

    {% endif %}

    {% if comments %}

        <div>

            {% for item in comments %}

                <article>

                    <div>

                        <strong>
                            {{ item.first_name }}
                            {{ item.last_name }}
                        </strong>

                        <time
                            datetime="{{ item.date_time }}"
                            title="{{ item.date_time }}"
                        >
                            {{ item.date_time | timeAgo }}
                        </time>

                    </div>

                    <p>
                        {{ item.comment }}
                    </p>

                </article>

            {% endfor %}

        </div>

    {% else %}

        <p>
            No comments yet.
        </p>

    {% endif %}

</section>

{% endblock %}